@font-face {
	font-family: "oxygen";
	src: url("./assets/font/Oxygen-Bold.ttf"), 
	 url("./assets/font/Oxygen-Regular.ttf"),
	 url("./assets/font/Oxygen-Thin.ttf");
}

body {
	font-family: oxygen, serif;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-image: url('assets/img/final_affiche_bleu_horizontal\ \(1\).png') !important;
	background-size: cover;
	overflow: hidden;
	color: yellow !important;
}
#grid{
	display: flex;
    flex-direction: row;
    align-items: center;
}

/*.info, .img {
    flex: 1;
}*/


h1, h2 {
	margin: 0;
}

h1 {
	font-size: 7vw;
	grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  text-transform: uppercase;
	
}

h2 {
	text-align: bottom;
	font-size: 1.3rem;
	line-height: 1.25;
	grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start:0 ;
  grid-column-end: 0;
	
}

.forme.gauche {
	position: absolute;
	top: 0;
	left: 0;
}

.forme.droite {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 7vmin;
}

.back {
	position: fixed;
	top: 5vh;
	right: 3vh;
	z-index: 100000;
	text-decoration: none;
	font-size: 50px;
	color: inherit;
}

section {
	max-width: 80vw;
	text-align: left;
	grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

@keyframes float {
	0% {
		transform: translatey(0px);
		
	}
	50% {
		transform: translatey(-50px);
		
	}
	100% {
		transform: translatey(0px);
		
		
	}
}

.img {
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	max-height: 90vh; /* limite la hauteur à 90% de l'écran */
	justify-self: stretch;
	object-fit: cover;
	animation: float 6s ease-in-out infinite;
	transform: translatey(0px), translateX(0px);
	
  }
  
  .info{
	  z-index:800 ;
	  margin-bottom: 12vmin;
  }


footer img:not(:last-child) {
	margin-right: 20px;
}

iframe{
	position: absolute;
	bottom: 0;
}