* {
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
	font-family: "oxygen";
	src: url("./assets/font/Oxygen-Bold.ttf"), 
	 url("./assets/font/Oxygen-Regular.ttf"),
	 url("./assets/font/Oxygen-Thin.ttf");
}
body {
  margin: 0;
  font-size: 20px;
}

.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-image: url('assets/img/final_affiche_bleu_horizontal\ \(1\).png') !important;
}

.frame {
  width: 35vw;
  position: fixed;
  z-index: 200;
}

.up {
  top: -10vh;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.artiste {
  position: fixed;
  z-index: 100;
  filter: grayscale(100);
  transition: filter 1s;
  cursor: pointer;
}
.artiste:hover,
.artiste:focus {
  filter: grayscale(0);
  transform: scale(110%);
  transition: transform 1s;
  z-index: 500;
}

.dua {
  top: 49vh;
  right: 18vw;
}
.medine {
  top: 46vh;
  right: 75vw;
}
.david {
  top: 46vh;
  left: 21vw;
}
.rolando {
  bottom: 35vh;
  right: 130vh;
}
.hassani {
  bottom: 43vh;
  right: 8vw;
}
